doctype html
html
	head
		meta(charset='utf-8')
		meta(content='IE=edge,chrome=1', http-equiv='X-UA-Compatible')
		meta(content='width=device-width, height=device-height, initial-scale=1, user-scalable=no', name='viewport')
		meta(content='text/html; charset=UTF-8', http-equiv='Content-Type')
		meta(content='en-US-CA', http-equiv='Content-Language')
		meta(content='initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width', name='viewport')
		meta(content='IE=edge,chrome=1', http-equiv='X-UA-Compatible')
		meta(content='Kleptomania', property='og:title')
		meta(content='Brent Scheibelhut', itemprop='name')
		meta(content='website', property='og:type')
		meta(content='Beer Goggles - Brent Scheibelhut', property='og:description')
		meta(content='Broswer based game utilizing HTML5 and CSS3', itemprop='description')
		title Beer Goggles
		link(rel='shortcut icon', type='image/png', href='/images/favicon.ico')
		//-link(rel='stylesheet', type='text/css', href='/css/vendor/dropdown.css')
		link(rel='stylesheet', type='text/css', href='/css/vendor/foundation.css')
		link(rel='stylesheet', type='text/css', href='/css/vendor/icons.css')
		link(rel='stylesheet', type='text/css', href='/css/vendor/introjs.css')
		link(rel='stylesheet', type='text/css', href='/css/bgSite.css')
	body
		//-progress(class=".loading-screen", value="20", max="100")
		.wrap
			.main
				block main-content
		include bgEndDropdown
		include bgScripts