extends themes

block content
	#wrapper
		.container-fluid
			.row
				.col-md-12
					.frame
						.text M#[span e]r#[span r]y C#[span h]r#[span i]s#[span t]m#[span a]s
						.map-snowflakes
							- var i = 0
							while i < 7
								div(class="snow-row#{i}")
									- var n = 0
									while n < 12
										div(class="snow-#{n}")
											div(class="snow")
										- n++
								-i++
						.mountain1
							.snow1
							.snow2
							.half1
							.half2
						.tree1
							.root
							.shadow1
							.shadow2
							.snow1
							.snow2
							.snow3
							.snow4
						.tree2
							.root
							.shadow1
							.shadow2
							.snow1
							.snow2
							.snow3
							.snow4
						.tree3
							.root
							.shadow1
							.shadow2
							.snow1
							.snow2
							.snow3
							.snow4
							.snow5
						.tree4
							.root
							.shadow1
							.shadow2
							.snow1
							.snow2
							.snow3
							.snow4
							.snow5
						.house
							.roof
							.door
							.chimney
							.smoke1
							.smoke2
							.snow1
							.snow2
						.xmas-tree
							.root
							.shadow1
							.shadow2
							.snow1
							.snow2
							.snow3
							.snow4
							.snow5
							#star-six
							- var i = 1
							while i <= 3
								- var n = 1
								if i == 1
									while n <= 4
										div(class="light#{i}#{n}")
										- n++
								else
									if i == 2
										while n <= 5
											div(class="light#{i}#{n}")
											- n++
									else
										while n <= 6
											div(class="light#{i}#{n}")
											- n++
								-i++
						.ground